<script>
$(".list-group-item").onhover.addclass("active");
</script>
<div class="row">
<%= image_tag @site.image, :class => "col-md-3 col-xs-6" %>
<h3><%= @site.title %></h3>
<%= @site.body %>
</div>

<div class="row">

<%= form_for @basset do |f| %>

  <% if @basset.errors.any? %>  
    <div class="error_messages">  
      <h2>Form is invalid</h2>  
      <ul>  
        <% for message in @site.errors.full_messages %>  
          <li><%= message %></li>  
        <% end %>  
      </ul>  
    </div>  
  <% end %>  
  <p>  
    <%= f.label :Name %><br />  
    <%= f.text_field :name %>  
  </p>  
  <p>  
    <%= f.label :Image %><br /> 
    <%= f.file_field :image %>  
  </p> 
  <div style="display:none">
  <input name="_method" type="hidden" value="patch" />
  <input name="siteid" type="hidden" value="<%= @site.id %>" />
  </div>
  <%= f.submit :class => "btn btn-success btn-lg" %> 
<% end %>



</div>





    <div class="row">
    <div class="well">
        <h4 class="text-center">Page Assets</h4>
        <div class="list-group">
          <% for imageBasset in @bassets %> 
          <a href="<%= imageBasset %>" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="<%= imageBasset.image %>" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> <%= imageBasset.name %> </h4>
                    <p class="list-group-item-text"> Qui diam libris ei, vidisse incorrupte at mel. His euismod salutandi dissentiunt eu. Habeo offendit ea mea. Nostro blandit sea ea, viris timeam molestiae an has. At nisl platonem eum. 
                        Vel et nonumy gubergren, ad has tota facilis probatus. Ea legere legimus tibique cum, sale tantas vim ea, eu vivendo expetendis vim. Voluptua vituperatoribus et mel, ius no elitr deserunt mediocrem. Mea facilisi torquatos ad.
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 14240 <small> votes </small></h2>
                    <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.5 <small> / </small> 5 </p>
                </div>
          </a>
          <%end%>

        </div>
        </div>
  </div>
<style>
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
</style>