<script>
$(".list-group-item").onhover.addclass("active");
</script>
<div class="row">
<%= image_tag @site.image, :class => "col-md-3 col-xs-6" %>
<h3><%= @site.title %></h3>
<%= @site.body %>
</div><br />
<%#= @site.siteassets %>

<div class="row">
<h4 class="text-center">New Assets</h4>
<%= form_for @basset do |f| %>  
<div class="col col-lg-6"> 
  <p>  
    <%= f.label :name %> 
    <%= f.text_field :name %>  
  </p>  
<%= f.hidden_field :siteid, :value => @site.id %>
  <p>  
    <%= f.label :Image %>
    <%= f.file_field :image %>  
  </p> 
  </div>
  <div class="col col-lg-6">
  <%= f.submit :class => "btn btn-success btn-lg col-lg-12" %> 
  </div>
<% end %>
</div>

<div class="row well">
<h4 class="text-center">Target Locations</h4>
<% for target in @targets %>
<div class="list-group">
<%= target.url %>
</div>
<% end %>
</div>
        

    <div class="row">
    <div class="well">
        <h4 class="text-center">Site Assets</h4>
        <div class="list-group">
          <% for imageBasset in @bassets %> 
          <a href="<%= "/bassets/" + imageBasset.id %>" class="list-group-item">
                <div class="media col-md-3">
                    <figure class="pull-left">
                        <img class="media-object img-rounded img-responsive"  src="<%= imageBasset.image %>" alt="placehold.it/350x250" >
                    </figure>
                </div>
                <div class="col-md-6">
                    <h4 class="list-group-item-heading"> <%= imageBasset.name %> </h4>
                    <p class="list-group-item-text"><%= imageBasset.tags %>
                    </p>
                </div>
                <div class="col-md-3 text-center">
                    <h2> 14240 <small> votes </small></h2>
                    <button type="button" class="btn btn-default btn-lg btn-block"> Vote Now! </button>
                    <div class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                    <p> Average 4.5 <small> / </small> 5 </p>
                </div>
          </a>
          <%end%>

        </div>
        </div>
  </div>


<!-- <div class="row">
        <h4 class="text-center">Current Assets</h4>
          <%# for imageasset in @site.siteassets %> 
          <%#= image_tag imageasset, :class => "col col-md-2" %>
          <%# end%>

  </div> -->


<style>
a.list-group-item {
    height:auto;
    min-height:220px;
}
a.list-group-item.active small {
    color:#fff;
}
.stars {
    margin:20px auto 1px;    
}
</style>